.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  padding: 16px;
  border-radius: 4px;
}

.cards-container {
  display: flex;
  column-gap: 40px;
  margin: 20px;
}

img {
  display: block;
  width: auto;
  max-height: 350px;
  margin: 10px auto;
}
