<h3>About us</h3>
<div class="about-us-container">
  <div class="cards-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sergio Castellano Betancor</mat-card-title>
        <mat-card-subtitle>DAW II student at ULPGC</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/sergio.jpeg" alt="Sergio's Photo"/>
      <mat-card-content>
        <p>Beach and travel lover</p>
        <p>Contact me at: <a href = "mailto: sergio.castellano105@alu.ulpgc.es">sergio.castellano105@alu.ulpgc.es</a></p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Manuel González Bernáldez</mat-card-title>
        <mat-card-subtitle>DAW II student at ULPGC</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/manu.jpg" alt="Manu's Photo"/>
      <mat-card-content>
        <p>Motorsport and dogs fan</p>
        <p>Contact me at: <a href = "mailto: manuel.gonzalez124@alu.ulpgc.es">manuel.gonzalez124@alu.ulpgc.es</a></p>
      </mat-card-content>
    </mat-card>
  </div>
  <h4>We are two DAW II students from ULPGC!</h4>
</div>
